.logo {
  max-width: 60%;
  margin: auto;

  // 1000px
  @media only screen and (max-width: 62.5em) {
    max-width: 100%;
    padding: 0 2rem;
  }

  // 640px
  @media only screen and (max-width: 40.625em) {
    max-width: 80%;
    padding: 0;
  }

  &__img {
    width: 100%;
  }
}
