/* open-sans-300 - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("/fonts/open-sans-v18-latin-300.woff2") format("woff2"), url("/fonts/open-sans-v18-latin-300.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
:root {
  --black: #141414;
  --white: #f0f0f0;
  --light-green: #31b99e;
  --medium-green: #2ca58d;
  --default-font: "Open Sans", sans-serif;
  --default-font-size: 1.6rem;
  --default-font-weight: 300;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
@media only screen and (max-width: 40.625em) {
  html {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
  background-color: #000;
  font-family: var(--default-font);
  font-size: var(--default-font-size);
  font-weight: var(--default-font-weight);
  color: var(--white);
  padding: 2rem;
  min-height: 100vh;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url("/img/bg/bg_1000w.webp");
}
@media only screen and (min-width: 2000px) and (-webkit-min-device-pixel-ratio: 1), only screen and (min-width: 2000px) and (min-resolution: 96dpi), only screen and (min-width: 2000px) and (min-device-pixel-ratio: 1) {
  body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url("/img/bg/bg_3000w.webp");
  }
}
@media only screen and (min-width: 1000px) and (max-width: 2000px) and (-webkit-min-device-pixel-ratio: 1), only screen and (min-width: 1000px) and (max-width: 2000px) and (min-resolution: 96dpi), only screen and (min-width: 500px) and (max-width: 1000px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 500px) and (max-width: 1000px) and (min-resolution: 192dpi), only screen and (min-width: 1000px) and (max-width: 2000px) and (min-device-pixel-ratio: 1), only screen and (min-width: 500px) and (max-width: 1000px) and (min-device-pixel-ratio: 2) {
  body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url("/img/bg/bg_2000w.webp");
  }
}
@media only screen and (max-width: 31.25em) {
  body {
    padding: 1.5rem;
  }
}

.no-webp body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url("/img/bg/bg_1000w.jpg");
}
@media only screen and (min-width: 2000px) and (-webkit-min-device-pixel-ratio: 1), only screen and (min-width: 2000px) and (min-resolution: 96dpi), only screen and (min-width: 2000px) and (min-device-pixel-ratio: 1) {
  .no-webp body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url("/img/bg/bg_3000w.jpg");
  }
}
@media only screen and (min-width: 1000px) and (max-width: 2000px) and (-webkit-min-device-pixel-ratio: 1), only screen and (min-width: 1000px) and (max-width: 2000px) and (min-resolution: 96dpi), only screen and (min-width: 500px) and (max-width: 1000px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 500px) and (max-width: 1000px) and (min-resolution: 192dpi), only screen and (min-width: 1000px) and (max-width: 2000px) and (min-device-pixel-ratio: 1), only screen and (min-width: 500px) and (max-width: 1000px) and (min-device-pixel-ratio: 2) {
  .no-webp body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url("/img/bg/bg_2000w.jpg");
  }
}

.main-container {
  margin: auto;
}

.tagline {
  width: 50%;
  margin: auto;
}
@media only screen and (max-width: 56.25em) {
  .tagline {
    width: 80%;
  }
}
.tagline__text {
  font-size: 4rem;
  padding: 2rem;
}
@media only screen and (max-width: 75em) {
  .tagline__text {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 31.25em) {
  .tagline__text {
    font-size: 2.5rem;
    padding: 1rem;
  }
}

.launch-date__text {
  font-size: 3.5rem;
  padding: 1rem;
}
@media only screen and (max-width: 56.25em) {
  .launch-date__text {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 31.25em) {
  .launch-date__text {
    font-size: 2.5rem;
    padding: 0;
  }
}

.form {
  width: 30%;
  margin: auto;
  padding: 1.5rem;
  background-color: rgba(0, 0, 0, 0.15);
}
@media only screen and (max-width: 75em) {
  .form {
    width: 40%;
  }
}
@media only screen and (max-width: 56.25em) {
  .form {
    width: 60%;
  }
}
@media only screen and (max-width: 40.625em) {
  .form {
    width: 80%;
  }
}
.form__heading {
  font-size: 2.5rem;
  font-weight: inherit;
  padding-bottom: 2.5rem;
}
.form__group {
  padding: 2rem;
}
.form__label {
  text-align: left;
  display: block;
  padding: 1.2rem;
  width: 75%;
  margin: auto;
  transform: translateY(-4.5rem);
  margin-top: -4.5rem;
  transition: opacity 0.2s, transform 0.2s;
  will-change: transform;
}
@media only screen and (max-width: 75em) {
  .form__label {
    width: 100%;
  }
}
.form__input {
  font-size: 1.6rem;
  font-family: inherit;
  padding: 1rem;
  display: block;
  width: 75%;
  margin: auto;
  border-radius: 0.5rem;
  border: 0.3rem solid transparent;
  box-shadow: inset -0.2rem -0.2rem 0.2rem rgba(0, 0, 0, 0.1);
}
@media only screen and (max-width: 75em) {
  .form__input {
    width: 100%;
  }
}
.form__input:focus {
  outline: none;
  filter: drop-shadow(0 0 1.5rem rgba(225, 225, 225, 0.7));
}
.form__input:focus:valid {
  border: 0.3rem solid rgba(44, 165, 141, 0.3);
}
.form__input:focus:invalid {
  border: 0.3rem solid rgba(250, 0, 0, 0.3);
}
.form__input:-moz-placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(0rem);
}
.form__input:-ms-input-placeholder + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(0rem);
}
.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(0rem);
}
.form__submit {
  font-size: 1.8rem;
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem solid var(--white);
  color: var(--black);
  background-color: var(--medium-green);
  transition: background-color 0.2s, transform 0.2s, box-shadow 0.2s;
  will-change: transform, background-color, box-shadow;
  position: relative;
  box-shadow: inset -0.3rem -0.3rem 0.2rem rgba(255, 255, 255, 0.2);
}
.form__submit:hover, .form__submit:focus {
  transform: translateY(-0.4rem);
  background-color: var(--light-green);
  box-shadow: 0.5rem 0.5rem 1rem rgba(225, 225, 225, 0.3);
}
.form__submit:focus {
  outline: none;
}
.form__submit:active {
  transform: translateY(-0.2rem);
  box-shadow: 0.3rem 0.3rem 0.5rem rgba(225, 225, 225, 0.5);
}

.logo {
  max-width: 60%;
  margin: auto;
}
@media only screen and (max-width: 62.5em) {
  .logo {
    max-width: 100%;
    padding: 0 2rem;
  }
}
@media only screen and (max-width: 40.625em) {
  .logo {
    max-width: 80%;
    padding: 0;
  }
}
.logo__img {
  width: 100%;
}

.socials__box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.socials__link {
  padding: 1.5rem;
  text-decoration: none;
}
.socials__link:focus {
  outline: none;
}
.socials__link:hover *, .socials__link:focus-within {
  filter: drop-shadow(0 0 1.5rem rgba(225, 225, 225, 0.6));
}
.socials__icon {
  height: 4rem;
  width: 4rem;
  transition: filter 0.2s;
}/*# sourceMappingURL=main.css.map */